body {
    background: url("../images/gaming.jpg") no-repeat center center fixed;
    font-family: "Roboto", sans-serif;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   color: #fafafa;
}

div,nav,header,footer{
border:1px solid #fafafa;
padding:.5em;
margin-bottom:1em;}

.navbar-brand {
    font-size: 200%;
}

.nav-item {
    font-size: 120%;
}

.container h1 {
    text-align: center;
    padding: 5%;
}

.container p {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

 .container i {
     justify-content: center;
 }

 #social a {
     color: rgb(77, 231, 115);
     padding: 30px;
 }

.caption {
    display: block;
    clear: both;
    text-align: center;
    font-size: 25px;
    color: #12e4f3;
}

ul {
    letter-spacing: 1px;
    padding: 20px;
    font-weight: 500;
}
ul li {
    padding: 20px;
    font-weight: 500;
}
#pros i {
    color: greenyellow;
}
#cons i {
    color: red;
}
h3 {
    color: #12e4f3;
}

.checked {
  color: orange;
}

.heading h1 {
    color: #12e4f3;
}

#social p {
    color: greenyellow;
}


